In [68]:
import numpy as np 
import sklearn as sck
import sklearn.cluster as cluster
import matplotlib as plt
import pandas as pd
from scipy.spatial import distance

In [69]:
x=np.array([[2,4],[3,3],[3,4],[5,4],[5,6],[5,8],[6,4],[6,5],[6,7],[7,3],[7,4],[8,2],[9,4],[10,6],[10,7],[10,8],[11,5],[11,8],[12,7],[13,6],[13,7],[14,6],[15,4],[15,5]])

In [159]:
kmeans = cluster.KMeans(n_clusters=2,init='k-means++').fit(x)
kmeans.cluster_centers_
labels = kmeans.predict(x)
k=0 
y=[]
for element in x : 
    y.append([element ,labels[k]])
    k+=1

matrix=[] 
foo=[]
for i in range(2):
    for j in range (2):
              foo.append(0)
    matrix.append(foo)
    foo=[]

for i in range (len(y)-1):
    for j  in range (i+1,len(y)):
        dist = distance.euclidean(y[i][0], y[j][0])
        cluster_i = y[i][1] 
        cluster_j=y[j][1]
        matrix[cluster_i][cluster_j]+=dist
        if cluster_i!=cluster_j:
             matrix[cluster_j][cluster_i]+=dist
    
for i in range(2):
    for j in range (2):
        print(matrix[i][j],end=' ')
    print()
analysis = pd.DataFrame(y,columns=['Element','Cluster'])
analysis

161.94548234875094 1043.5547254554538
1043.5547254554538 263.08673098519205

    Element  Cluster
0    [2, 4]        1
1    [3, 3]        1
2    [3, 4]        1
3    [5, 4]        1
4    [5, 6]        1
5    [5, 8]        1
6    [6, 4]        1
7    [6, 5]        1
8    [6, 7]        1
9    [7, 3]        1
10   [7, 4]        1
11   [8, 2]        1
12   [9, 4]        1
13  [10, 6]        0
14  [10, 7]        0
15  [10, 8]        0
16  [11, 5]        0
17  [11, 8]        0
18  [12, 7]        0
19  [13, 6]        0
20  [13, 7]        0
21  [14, 6]        0
22  [15, 4]        0
23  [15, 5]        0

In [160]:
kmeans = cluster.KMeans(n_clusters=3,init='k-means++').fit(x)
kmeans.cluster_centers_
labels = kmeans.predict(x)
k=0 
y=[]
for element in x : 
    y.append([element ,labels[k]])
    k+=1

matrix=[] 
foo=[]
for i in range(3):
    for j in range (3):
              foo.append(0)
    matrix.append(foo)
    foo=[]

for i in range (len(y)-1):
    for j  in range (i+1,len(y)):
        dist = distance.euclidean(y[i][0], y[j][0])
        cluster_i = y[i][1] 
        cluster_j=y[j][1]
        matrix[cluster_i][cluster_j]+=dist
        if cluster_i!=cluster_j:
             matrix[cluster_j][cluster_i]+=dist
    
for i in range(3):
    for j in range (3):
        print(matrix[i][j],end=' ')
    print()

analysis = pd.DataFrame(y,columns=['Element','Cluster'])
analysis

19.56296860470214 543.8801271216895 140.73731880169447
543.8801271216895 212.99792394811465 502.35104619550486
140.73731880169447 502.35104619550486 49.05755411769108

    Element  Cluster
0    [2, 4]        1
1    [3, 3]        1
2    [3, 4]        1
3    [5, 4]        1
4    [5, 6]        1
5    [5, 8]        1
6    [6, 4]        1
7    [6, 5]        1
8    [6, 7]        1
9    [7, 3]        1
10   [7, 4]        1
11   [8, 2]        1
12   [9, 4]        2
13  [10, 6]        2
14  [10, 7]        2
15  [10, 8]        2
16  [11, 5]        2
17  [11, 8]        2
18  [12, 7]        2
19  [13, 6]        0
20  [13, 7]        0
21  [14, 6]        0
22  [15, 4]        0
23  [15, 5]        0

In [161]:
kmeans = cluster.KMeans(n_clusters=4,init='k-means++').fit(x)
kmeans.cluster_centers_
labels = kmeans.predict(x)
k=0 
y=[]
for element in x : 
    y.append([element ,labels[k]])
    k+=1

matrix=[] 
foo=[]
for i in range(4):
    for j in range (4):
              foo.append(0)
    matrix.append(foo)
    foo=[]

for i in range (len(y)-1):
    for j  in range (i+1,len(y)):
        dist = distance.euclidean(y[i][0], y[j][0])
        cluster_i = y[i][1] 
        cluster_j=y[j][1]
        matrix[cluster_i][cluster_j]+=dist
        if cluster_i!=cluster_j:
             matrix[cluster_j][cluster_i]+=dist
    
for i in range(4):
    for j in range (4):
        print(matrix[i][j],end=' ')
    print()

analysis = pd.DataFrame(y,columns=['Element','Cluster'])
analysis

19.365058181991753 148.15853945481228 161.05957600732066 177.93739575156056
148.15853945481228 28.585258234786615 324.57599558651964 113.79725550926213
161.05957600732066 324.57599558651964 82.66209679587959 392.882794662561
177.93739575156056 113.79725550926213 392.882794662561 19.56296860470214

    Element  Cluster
0    [2, 4]        2
1    [3, 3]        2
2    [3, 4]        2
3    [5, 4]        2
4    [5, 6]        2
5    [5, 8]        2
6    [6, 4]        0
7    [6, 5]        2
8    [6, 7]        2
9    [7, 3]        0
10   [7, 4]        0
11   [8, 2]        0
12   [9, 4]        0
13  [10, 6]        1
14  [10, 7]        1
15  [10, 8]        1
16  [11, 5]        1
17  [11, 8]        1
18  [12, 7]        1
19  [13, 6]        3
20  [13, 7]        3
21  [14, 6]        3
22  [15, 4]        3
23  [15, 5]        3